# Dart & Flutter
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# IDE related files (optional)
.idea/
.vscode/

# Miscellaneous
.env
*.log
*.lock
*.pyc
*.tmp
*.bak
*.swp
*.DS_Store
*.iml
.flutter-plugins*
coverage/