API_URL=https://example-app.com/api/v1
API_URL_PICTURES=http://example-app.com/static/media
RECAPTCHA_SITE_KEY={reCAPTCHA_SITE_KEY}
BYPASS_CAPTCHA=true

# Social auth URL
GOOGLE_AUTH_URL=/auth/google
GITHUB_AUTH_URL=/auth/github

# mocking
USE_MOCK_DATA=false
