API_URL=https://example-app.com/api/v1
API_URL_PICTURES=http://example-app.com/static/media
RECAPTCHA_SITE_KEY={reCAPTCHA_SITE_KEY}
BYPASS_CAPTCHA=true

# Social auth URL
GOOGLE_AUTH_URL=/auth/google
GITHUB_AUTH_URL=/auth/github

# mocking
USE_MOCK_DATA=false
USE_MOCK_DATA_STORIES=true
UPLOAD_MEDIA=false

# Sockets Connection
SOCKET_RECONNECT_DELAY_SECONDS=3
EVENT_FAIL_LIMIT=5

# TURN Server
TURN_SERVER_USERNAME=username
TURN_SERVER_CREDENTIAL=password