API_URL=https://example.com/api/v1
RECAPTCHA_SITE_KEY=6Ld11mkqAAAAAEjQde2g2jaIH2Bf3fDfQzFR1_JE

# Social auth URL
GOOGLE_AUTH_URL=https://example.com/api/v1/auth/google
FACEBOOK_AUTH_URL=https://example.com/api/v1/auth/facebook
Github_AUTH_URL=https://example.com/api/v1/auth/github